@page
@using System.Diagnostics
@using System.Xml.Serialization
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Process[] processes = (Process[])ViewData["ProcessCount"];
}

<div class="text-center">
    <h1 class="display-4">Processes running on my computer</h1>
    <ul>
        @foreach (var process in processes)
        {
            <tr>
                <td>@process.ProcessName</td>
            </tr>
        }

    </ul>
</div>
